<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="col-3">
            <div id="d">
            </div>
            <h3>MENU</h3>
            <ul class="list-group bg-dark">
                <li class="list-group-item" [ngClass]="{active:menuIndex == 0}" [routerLink]="['meet']" (click)="menuClick(0)">返回主页</li>
                <li class="list-group-item" [ngClass]="{active:menuIndex == 1}" [routerLink]="['consoler']" (click)="menuClick(1)">设备控制</li>
                <li class="list-group-item" [ngClass]="{active:menuIndex == 2}" [routerLink]="['view']" (click)="menuClick(2)">数据曲线</li>
                <li class="list-group-item" [ngClass]="{active:menuIndex == 3}" [routerLink]="['update']" (click)="menuClick(3)">用户管理</li>
            </ul>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10" style="float:right;">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>