.moda{
    z-index:9999;
    background-color: black
}

button{
    text-align: center;
    width: 120px;
    height: 40px;
   border: solid 1px white;
}
#box{
    float: right;
    margin-right: 15px;
}
#btn{
    margin-right: 15px
}