<div class="row">
  <div class="col-sm-12">
    <h3 style="text-align: center;">光照、烟雾、土壤养分历史数据</h3>
    <div id="box">
      <button class="btn btn-danger" id="btn" (click)="cleanAll()">清空数据</button>
      <button class="btn btn-primary" (click)="refresh()">刷新数据</button>
    </div>
    <table class="table table-striped table-hover perf" style="text-align: center;">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>设备ID</th>
          <th>二氧化碳</th>
          <th>pM2.5</th>
          <th>氧气</th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let env2 of env2s$ | async;let i = index">
          <td>{{i}}</td>
          <td>{{ env2.id }}</td>
          <td>{{ env2.co2 }}</td>
          <td>{{ env2.pM }}</td>
          <td>{{ env2.o2 }}</td>
          <td>{{ env2.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>