<div class="row">
  <div class="col-sm-12">
    <h3 style="text-align: center;">pH值历史数据</h3>
    <div id="box">
      <button class="btn btn-danger" id="btn" (click)="cleanAll()">清空数据</button>
      <button class="btn btn-primary" (click)="refresh()">刷新数据</button>
    </div>
    <table class="table table-striped table-hover perf" style="text-align: center;">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>设备ID</th>
          <th>烟雾</th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let env3 of env3s$ | async;let i = index">
          <td>{{i}}</td>
          <td>{{ env3.id }}</td>
          <td>{{ env3.yw }}</td>
          <td>{{ env3.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>